@font-face {
    font-family: chian;
    src: url(./font/2e3e13bdd28941438adf.woff2);
    font-family: zolina;
    src: url(./font/Zolina\ Light.woff2)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}
html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

 
nav{
    width: 100vw;
    background-color:transparent;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
   font-family: china;
   background-color: transparent;
   
}
nav h1{
    width: 65%;
    text-align: center;
    font-size: 3.5vw;
    color: #000;
    font-weight: 600;
}
nav .menu{
    width: 15%;
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    /* z-index: 99; */
}
.menu h2{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: gilroy;
    /* mix-blend-mode: difference; */
    color: #000;
}
nav .menu .lines{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
nav .menu .line-1{
    width: 4vw;
    height: 0.2em;
    background-color: #000;
    z-index: 99;
}
nav .menu .line-2{
    width: 4vw;
    height: 0.2em;
    background-color: #000;
    z-index: 99;
}

.come{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute  ;
    top: 0;
    left: 0;
    scale: 0;
    display: flex;
    z-index: -1;
    align-items: center;
    justify-content: center;
    overscroll-behavior-y: none;
}

.come .ttx{
    width: 100%;
    z-index: 99;
    line-height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    margin-top: 5vw;
    margin-left: 6vw;
}
.ttx .elem{
    width: 100%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.elem .image{
    width: 10vw;
    height: 10vw;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.ttx .elem #one{
    font-size: 10vw;
    font-family: zolina;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
     color: #fff;
     font-weight: 500;
     margin-left: 3vw;
}
.ttx .elem1{
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.elem1 .image1{
    width: 10vw;
    height: 10vw;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.ttx .elem1 #two{
    font-size: 10vw;    
    font-family: zolina;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
     color: #fff;
     font-weight: 500;
     margin-left: 3vw;
}

.ttx .elem2{
    width: 100%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.elem2 .image2{
    width: 10vw;
    height: 10vw;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.ttx .elem2 #three{
    font-size: 10vw;
    font-family: zolina;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
     color: #fff;
     font-weight: 500;
     margin-left: 4vw;
}
.ttx .elem3{
    width: 100%;
    max-width: 800px;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.elem3 .image3{
    width: 10vw;
    height: 10vw;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.ttx .elem3 #four{
    font-size: 10vw;
    font-family: zolina;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
     color: #fff;
     font-weight: 500;
     margin-left: 6vw;
}
nav .profile{
    display: flex;
    align-items: center;
    gap: 2vw;
}

nav .profile .mobile{
    display: none;
}

.profile h5{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    
}
.profile h5:hover{
   text-decoration: underline;
   cursor: pointer;
    
}
.section-1{
    width: 100vw;
    height: 100vh;
}
.section-1 .video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-color: #F4F2EF;
}
.text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.text h4{
    font-size: 2vw;
    text-transform: uppercase;
    font-family: monospace;
}
.text h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 600;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: Zolina;
}

.btn1{
    margin-top: 4vw;
    padding: 1vw 2vw;
    border: 2px solid #fff;
   background-color:transparent;
   color: #fff;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: 50px;
   text-transform: uppercase;
   position: relative;
   overflow: hidden;
   transition: all ease 0.2s;
   font-family: gilroy;
   cursor: pointer;
}
.btn1::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: all ease 0.2s;
    z-index: -1;
}
.btn1:hover::before{
    height: 100%;
}
.btn1:hover{
    color: #000;
}
.text h6{
    font-size: 1.2vw;
    margin-top: 10vw;
    text-transform: uppercase;
    font-weight: 300;
}
.text h6 .mobile{
    display: none;
}

/*Section 2*/
.section-2{
    width: 100vw;
    height: 100vh;
    background-color:#F4F2EF;
    position: sticky;
}

.section-2 h1{
    width: 100vw;
    height: 100vh;
    font-weight: 300;
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: zolina;
}

.cards{
    position: absolute;
    display: flex;
    gap: 7vw;
    top: 20%;
    left: 80%;

}
.section-2 .card1{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    rotate: -10deg;
    border-radius: 20px;
    overflow: hidden;
    animation: move-1 1.5s ease-in-out infinite alternate;
}
.card1 .cardpic1{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all ease-out 0.5s;
}
.cardpic1 img:hover{
    scale: 1.2;
}
@keyframes move-1{
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
    50% { transform: translateX(0px); }
}
.card1 .txt1{
    padding: 1vw 1.5vw;
   
}
.txt1 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt1 h5{
    font-size: 1.5vw;
    font-weight: 300;
}
.section-2 .card2{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    rotate: 10deg;
    border-radius: 20px;
    overflow: hidden;
    animation: move-2 1.5s ease-in-out infinite alternate;  
}
.card2 .cardpic2{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-out 0.5s;

}
.cardpic2 img:hover{
    scale: 1.2;
}
@keyframes move-2{
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
    50% { transform: translateX(0px); }
}
.card2 .txt2{
    padding: 1vw 1.5vw;
   
}
.txt2 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt2 h5{
    font-size: 1.5vw;
    font-weight: 300;
}

.section-2 .card3{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
    animation: move-3 1.5s ease-in-out infinite alternate;  
}
.card3 .cardpic3{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all ease-out 0.5s;
}
.cardpic3 img:hover{
    scale: 1.2;
}
@keyframes move-3 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
    50% { transform: translateX(0px); }
}
.card3 .txt3{
    padding: 1vw 1.5vw;
   
}
.txt3 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt3 h5{
    font-size: 1.5vw;
    font-weight: 300;
}

.section-2 .card4{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
    animation: move-4 1.5s ease-in-out infinite alternate;
}
.card4 .cardpic4{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all ease-out 0.5s;
}
.cardpic4 img:hover{
    scale: 1.2;
}
@keyframes move-4 {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
    50% { transform: translateX(0px); }
}
.card4 .txt4{
    padding: 1vw 1.5vw;
   
}
.txt4 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt4 h5{
    font-size: 1.5vw;
    font-weight: 300;
}

.section-2 .card5{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
    animation: move-5 1.5s ease-in-out infinite alternate;
}
.card5 .cardpic5{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all ease-out 0.5s;
}
.cardpic5 img:hover{
    scale: 1.2;
}
@keyframes move-5 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
    50% { transform: translateX(0px); }
}
.card5 .txt5{
    padding: 1vw 1.5vw;
   
}
.txt5 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt5 h5{
    font-size: 1.5vw;
    font-weight: 300;
}

.section-2 .card6{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
    animation: move-6 1.5s ease-in-out infinite alternate;
    
}
.card6 .cardpic6{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-out 0.5s;
}
.cardpic6 img:hover{
    scale: 1.2;
}
.card6 .txt6{
    padding: 1vw 1.5vw;
   
}
@keyframes move-6 {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
    50% { transform: translateX(0px); }
}
.txt6 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt6 h5{
    font-size: 1.5vw;
    font-weight: 300;
}

.section-2 .card7{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
    animation: move-7 1.5s ease-in-out infinite alternate;
    
}
.card7 .cardpic7{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-out 0.5s;
}
.cardpic7 img:hover{
    scale: 1.2;
}
.card7 .txt7{
    padding: 1vw 1.5vw;
   
}
.txt7 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt7 h5{
    font-size: 1.5vw;
    font-weight: 300;
}
@keyframes move-7 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
    50% { transform: translateX(0px); }
}
.section-2 .card8{
    width: 25vw;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
    animation: move-8 1.5s ease-in-out infinite alternate;
    
}
.card8 .cardpic8{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cardpic8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    transition: all ease-out 0.5s;
}
.cardpic8 img:hover{
    scale: 1.2;
}
.card8 .txt8{
    padding: 1vw 1.5vw;
   
}
@keyframes move-8 {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
    50% { transform: translateX(0px); }
}
.txt8 h2{
    font-size: 2vw;
    font-weight: 300;
}
.txt8 h5{
    font-size: 1.5vw;
    font-weight: 300;
}

/*Section 3*/
.section-3{
    width: 100vw;
    height: 100vh;
    background-color:#1A1A1A;
    position: sticky;
}
.products .product1{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
}
.products{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
 
.products .product2{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
}
.product1 .prodpic1{
    width: 100%;
    height: 100%;

}
.prodpic1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.product2 .prodpic2{
    width: 100%;
    height: 100%;

}
.prodpic2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.text-1{
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-1 h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 500;
}
.text-1 h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: zolina;

}

.btn2{
    margin-top: 4vw;
    padding: 1vw 2vw;
    border: 2px solid #fff;
   background-color:transparent;
   color: #fff;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: 50px;
   text-transform: uppercase;
   position: relative;
   overflow: hidden;
   font-family: gilroy;
   transition: all ease-out 0.3s;
    cursor: pointer;
}
.btn2::before{
    content: "";
    height: 0%;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all ease-out 0.3s;
}
.btn2:hover::before{
    height: 100%;
}.btn2:hover{
    color: #000;
}

/*Section 4*/
.section-4{
    width: 100vw;
    height: 100vh;
    background-color:#1A1A1A;
    position: sticky;
    
}
.products1{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.products1 .product3{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
}
.products1 .product4{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
}
.product3 .prodpic3{
    width: 100%;
    height: 100%;

}
.prodpic3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.product4 .prodpic4{
    width: 100%;
    height: 100%;

}
.prodpic4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.text-2{
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-2 h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 500;
}
.text-2 h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: zolina;
}
.btn3{
    margin-top: 4vw;
    padding: 1vw 2vw;
    border: 2px solid #fff;
   background-color:transparent;
   color: #fff;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: 50px;
   text-transform: uppercase;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
.btn3::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
    z-index: -1;
}
.btn3:hover::before{
    height: 100%;
}
.btn3:hover{
    color: #000;
}

/*Section 5*/
.section-5{
    width: 100vw;
    height: 100vh;
    background-color:#1A1A1A;
    position: sticky;
}

.products2{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.products2 .product5{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
}
 
.products2 .product6{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
}
.product5 .prodpic5{
    width: 100%;
    height: 100%;

}
.prodpic5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.product6 .prodpic6{
    width: 100%;
    height: 100%;

}
.prodpic6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.text-3{
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.text-3 h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 500;
}
.text-3 h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: zolina;

}
.text-3 button{
    margin-top: 4vw;
    padding: 1vw 2vw;
    border: 2px solid #fff;
   background-color:transparent;
   color: #fff;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: 50px;
   text-transform: uppercase;
   position: relative;
   overflow: hidden;
}
.text-3 button::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
    z-index: -1;
}
.text-3 button:hover::before{
    height: 100%;
}
.text-3 button:hover{
    color: #000;
}

/*Section 6*/
.section-6{
    width: 100vw;
    height: 100vh;
    background-color:#1A1A1A;
    position: relative;
    z-index: 99;
}
.products3{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.products3 .product7{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: -10deg;
}
.products3 .product8{
    width: 30vw;
    height: 35vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    rotate: 10deg;
}
.product7 .prodpic7{
    width: 100%;
    height: 100%;

}
.prodpic7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.product8 .prodpic8{
    width: 100%;
    height: 100%;

}
.prodpic8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.text-4{
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.text-4 h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 500;
}
.text-4 h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: zolina;
}
.text-4 button{
    margin-top: 4vw;
    padding: 1vw 2vw;
    border: 2px solid #fff;
   background-color:transparent;
   color: #fff;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: 50px;
   text-transform: uppercase;
   position: relative;
   overflow: hidden;
   transition: all ease 0.5;
   cursor: pointer;
}
.text-4 button::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
    z-index: -1;
}
.text-4 button:hover::before{
    height: 100%;
}
.text-4 button:hover{
    color: #000;
}

/*Footer*/
footer{
    width: 100%;
    background-color: #1A1A1A;
    color: #fff;
    padding: 50px 0 30px;
    font-size: 1vw;
    line-height: 20px;
    font-family: gilroy;
}
footer .mobile{
    display: none;
}
.row{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5vw;
}
.col{
    flex-basis: 25%;
    padding: 5px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2vw;
}
.footer_logo{
    width: 100px;
    position: relative;
    top: -23px;
    left: 0;
}
.footer_about{
    position: relative;
    top: -23px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
    gap: 20px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffff;
    margin-bottom: 50px;
}
.col form .icon{
    font-size: 1.2vw;
    margin-right: 10px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .icon_right{
    font-size: 2vw;
    color: #ccc;
}

.social_icons1{
    font-size: 20px;
    display: flex;
    gap: 20px;
}
hr{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
footer .made{
    text-align: center;
    font-size: 1.2vw;
}
.bottom_line{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}

/*for Mobile*/
@media (max-width:600px) {
    *{
        overflow-x: hidden;
    }
    html,body{
        width: 100%;
        height: 100%;
    }

    nav{
        height: 15vw;
        padding: 2vw 2vw;
        position: fixed;
    }

    nav h1{
        width: 100%;
        text-align: center;
        font-size: 10vw;
        color: #fff;
        font-weight: 600;
        position: absolute;
    }

    .menu h2{
        display: none;
    }

    nav .menu .lines{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 2vw;
    }

    nav .menu .line-1{
        width: 6vw;
        height: 0.2em;
        background-color: #fff;
        z-index: 99;
    }

    nav .menu .line-2{
        width: 6vw;
        height: 0.2em;
        background-color: #fff;
        z-index: 99;
    }
    
    nav .profile .desktop{
        display: none;
    }

    nav .profile .mobile{
        display: block;
        width: 5vw;
        color: white;
        font-size: 5vw;
    }

    .come{
        height: 100vh;
        width: 100vw;
        background-color: white;
        position: fixed;
        overflow: hidden;
        display: flex;
        top: 0;
        left: 0;
        scale: 0;
        z-index: -1;
        align-items: center;
        justify-content: center;
        overscroll-behavior-y: none;
    }

    .come .ttx{
        width: 100%;
        z-index: 99;
        line-height: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2vw;
        margin-top: 3vw;
    }

    .ttx .elem #one{
        font-size: 20vw;
        font-family: zolina;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        overflow: hidden;
        line-height: 20vw;
        mix-blend-mode: difference;
         color: #fff;
         font-weight: 500;
         margin-left: 3vw;
    }
    .ttx .elem1 #two{
        font-size: 20vw;
        font-family: zolina;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        overflow: hidden;
        line-height: 20vw;
        mix-blend-mode: difference;
         color: #fff;
         font-weight: 500;
         margin-left: 3vw;
    }
    .ttx .elem2 #three{
        font-size: 20vw;
        font-family: zolina;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        overflow: hidden;
        line-height: 20vw;
        mix-blend-mode: difference;
         color: #fff;
         font-weight: 500;
         margin-left: 3vw;
    }
    .ttx .elem3 #four{
        font-size: 20vw;
        font-family: zolina;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        overflow: hidden;
        line-height: 20vw;
        mix-blend-mode: difference;
         color: #fff;
         font-weight: 500;
         margin-left: 3vw;
    }


    /*Section 1*/
    .text{
        top: 60vh;
    }

    .text h4{
        font-size: 4vw;
        text-transform: uppercase;
        font-family: monospace;
        padding-bottom: 3vw;
    }
    .text h1{
        font-size: 12vw;
        text-align: center;
        font-weight: 600;
        line-height: 11vw;
        text-transform: uppercase;
        font-family: zolina-light;
        padding-bottom: 3vw;
    }
    .btn1{
        top: 10vw;
        margin-top: 4vw;
        padding: 3vw 6vw;
        border: 2px solid #fff;
       background-color:transparent;
       color: #fff;
       font-size: 3.6vw;
       font-weight: 500;
       border-radius: 50px;
       text-transform: uppercase;
       position: relative;
       overflow: hidden;
       transition: all ease 0.2s;
       font-family: gilroy;
       cursor: pointer;
    }
    .btn1::after{
        content: "";
        width: 100%;
        height: 0%;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        transition: all ease 0.2s;
        z-index: -1;
    }
    .section-1 .text .desktop{
        display: none;
    }
    .text h6{
        font-size: 3.6vw;
        margin-top: 23vh;
        text-transform: uppercase;
        font-weight: 500;
    }

    /*Section 2*/
    .section-2{
        width: 100vw;
        height: 100vh;
        background-color:#F4F2EF;
        position: sticky;
    }
    .section-2 h1{
        width: 100vw;
        height: 100vh;
        font-weight: 300;
        font-size: 14vw;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: zolina;
    }
    .cards{
        position: absolute;
        display: flex;
        gap: 20vw;
        top: 30%;
        left: 50%;
        height: 80vw;
        margin-left: 20vw;
        overflow: visible;
    }
    /*left leaned*/
    .section-2 .card1{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: -10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-1 2.5s ease-in-out infinite alternate;
        -webkit-animation: move-1 2.5s ease-in-out infinite alternate;
}
    .card1 .cardpic1{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic1 img{
        width: 120%;
        height: 180%;
        margin-left: -10%;
        object-fit: cover;
        object-position: top;
        transition: all ease-out 0.5s;
        -webkit-transition: all ease-out 0.5s;
        -moz-transition: all ease-out 0.5s;
        -ms-transition: all ease-out 0.5s;
        -o-transition: all ease-out 0.5s;
}
    .cardpic1 img:hover{
        scale: 1.2;
    }
    @keyframes move-1{
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(10px); }
        50% { transform: translateX(0px); }
    }
    .card1 .txt1{
        padding: 3vw 6vw;
       
    }
    .txt1 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt1 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    /*right leaned*/
    .section-2 .card2{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: 10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-2 2.5s ease-in-out infinite alternate;
        -webkit-animation: move-2 2.5s ease-in-out infinite alternate;
}
    .card2 .cardpic2{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all ease-out 0.5s;
    
    }
    .cardpic2 img:hover{
        scale: 1.2;
    }
    @keyframes move-2{
        0% { transform: translateY(0); }
        50% { transform: translateY(10px); }
        100% { transform: translateY(-10px); }
        50% { transform: translateX(0px); }
    }
    .card2 .txt2{
        padding: 3vw 6vw;
       
    }
    .txt2 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt2 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    
    .section-2 .card3{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: -10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-3 1.5s ease-in-out infinite alternate;  
    }
    .card3 .cardpic3{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transition: all ease-out 0.5s;
    }
    .cardpic3 img:hover{
        scale: 1.2;
    }
    @keyframes move-3 {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(10px); }
        50% { transform: translateX(0px); }
    }
    .card3 .txt3{
        padding: 3vw 6vw;
       
    }
    .txt3 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt3 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    
    .section-2 .card4{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: 10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-4 1.5s ease-in-out infinite alternate;
    }
    .card4 .cardpic4{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic4 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transition: all ease-out 0.5s;
    }
    .cardpic4 img:hover{
        scale: 1.2;
    }
    @keyframes move-4 {
        0% { transform: translateY(0); }
        50% { transform: translateY(10px); }
        100% { transform: translateY(-10px); }
        50% { transform: translateX(0px); }
    }
    .card4 .txt4{
        padding: 3vw 6vw;
       
    }
    .txt4 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt4 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    
    .section-2 .card5{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: -10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-5 1.5s ease-in-out infinite alternate;
    }
    .card5 .cardpic5{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic5 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transition: all ease-out 0.5s;
    }
    .cardpic5 img:hover{
        scale: 1.2;
    }
    @keyframes move-5 {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(10px); }
        50% { transform: translateX(0px); }
    }
    .card5 .txt5{
        padding: 3vw 6vw;
       
    }
    .txt5 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt5 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    
    .section-2 .card6{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: 10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-6 1.5s ease-in-out infinite alternate;
        
    }
    .card6 .cardpic6{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic6 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all ease-out 0.5s;
    }
    .cardpic6 img:hover{
        scale: 1.2;
    }
    .card6 .txt6{
        padding: 3vw 6vw;
       
    }
    @keyframes move-6 {
        0% { transform: translateY(0); }
        50% { transform: translateY(10px); }
        100% { transform: translateY(-10px); }
        50% { transform: translateX(0px); }
    }
    .txt6 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt6 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    
    .section-2 .card7{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: -10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-7 1.5s ease-in-out infinite alternate;
        
    }
    .card7 .cardpic7{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic7 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all ease-out 0.5s;
    }
    .cardpic7 img:hover{
        scale: 1.2;
    }
    .card7 .txt7{
        padding: 3vw 6vw;
       
    }
    .txt7 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .txt7 h5{
        font-size: 4vw;
        font-weight: 300;
    }
    @keyframes move-7 {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(10px); }
        50% { transform: translateX(0px); }
    }
    .section-2 .card8{
        width: 70vw;
        height: 84vw;
        background-color: #FFFFFF;
        rotate: 10deg;
        border-radius: 20px;
        overflow: hidden;
        animation: move-8 1.5s ease-in-out infinite alternate;
        
    }
    .card8 .cardpic8{
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .cardpic8 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:center;
        transition: all ease-out 0.5s;
    }
    .cardpic8 img:hover{
        scale: 1.2;
    }

    @keyframes move-8 {
        0% { transform: translateY(0); }
        50% { transform: translateY(10px); }
        100% { transform: translateY(-10px); }
        50% { transform: translateX(0px); }
    }
    .card8 .txt8{
        padding: 3vw 6vw;
    }
    .card8 .txt8 h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .card8 .txt8 h5{
        font-size: 4vw;
        font-weight: 300;
    }

    /*Section 3*/
    .section-3{
        width: 100vw;
        height: 100vh;
        background-color:#1A1A1A;
        position: sticky;
    }

    .products{
        width: 100%;
        position: absolute;
        overflow: visible;
        top: 40%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }

    .products .product1{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: -6deg;
        margin-top: -20%;
        margin-left: -49%;
        vertical-align: middle;
    }
     
    .products .product2{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: 6deg;
        margin-top: -20%;
        margin-right: -49%;
        vertical-align: middle;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    .product1 .prodpic1{
        width: 100%;
        height: 100%;
        margin-left: 20vw;
    
    }
    .prodpic1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .product2 .prodpic2{
        width: 100%;
        height: 100%;
        margin-left: -20vw;
    
    }
    .prodpic2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    
    .text-1{
        width: 90vw;
        height: 100vh;
        color: #fff;
        display: flex;
        margin-top: 16vw;
        padding-left: 10vw;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-1 h4{
        font-size: 4vw;
        text-transform: uppercase;
        font-family: gilroy;
        font-weight: 500;
        text-align: center;
        padding: 10vw;
    }
    .text-1 h1{
        font-size: 9vw;
        text-align: center;
        font-weight: 800;
        line-height: 14vw;
        overflow: hidden;
        text-transform: uppercase;
        font-family: zolina;
        padding: 15vw;
    }
    
    .btn2{
        align-items: center;
        margin-top: 5vw;
        padding: 2.4vw 2.2vw;
        border: 2px solid #fff;
       background-color:transparent;
       color: #fff;
       font-size: 3.6vw;
       font-weight: 500;
       border-radius: 50px;
       text-transform: uppercase;
       position: relative;
       overflow: hidden;
       font-family: gilroy;
       transition: all ease-out 0.3s;
        cursor: pointer;
    }
    .btn2::before{
        content: "";
        height: 0%;
        width: 100%;
        background-color: #FFFFFF;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all ease-out 0.3s;
    }

    /*Section 4*/
    .section-4{
        width: 100vw;
        height: 100vh;
        background-color:#1A1A1A;
        position: sticky;
        
    }
    .products1{
        width: 100%;
        position: absolute;
        overflow: visible;
        top: 40%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }
    .products1 .product3{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: -6deg;
        margin-top: -20%;
        margin-left: -49%;
        vertical-align: middle;
    }
    .products1 .product4{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: 7deg;
        margin-top: -20%;
        margin-right: -49%;
        vertical-align: middle;
    }
    .product3 .prodpic3{
        width: 100%;
        height: 100%;
        margin-left: 23vw;
    
    }
    .prodpic3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .product4 .prodpic4{
        width: 100%;
        height: 100%;
        margin-left: -15vw;
    
    }
    .prodpic4 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .text-2{
        width: 90vw;
        height: 100vh;
        color: #fff;
        display: flex;
        margin-top: 16vw;
        padding-left: 10vw;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-2 h4{
        font-size: 4vw;
        text-transform: uppercase;
        font-family: gilroy;
        font-weight: 500;
        text-align: center;
        padding: 10vw;
    }
    .text-2 h1{
        font-size: 9vw;
        text-align: center;
        font-weight: 800;
        line-height: 14vw;
        overflow: hidden;
        text-transform: uppercase;
        font-family: zolina;
        padding: 15vw;
    }
    .btn3{
        align-items: center;
        margin-top: 5vw;
        padding: 2.4vw 2.2vw;
        border: 2px solid #fff;
       background-color:transparent;
       color: #fff;
       font-size: 3.6vw;
       font-weight: 500;
       border-radius: 50px;
       text-transform: uppercase;
       position: relative;
       overflow: hidden;
       font-family: gilroy;
       transition: all ease-out 0.3s;
        cursor: pointer;
    }
    .btn3::before{
        content: "";
        height: 0%;
        width: 100%;
        background-color: #FFFFFF;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all ease-out 0.3s;
    }

    /*Section 5*/
    .section-5{
        width: 100vw;
        height: 100vh;
        background-color:#1A1A1A;
        position: sticky;
    }
    
    .products2{
        width: 100%;
        position: absolute;
        overflow: visible;
        top: 40%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }
    
    .products2 .product5{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: -6deg;
        margin-top: -20%;
        margin-left: -49%;
        vertical-align: middle;
    }
     
    .products2 .product6{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: 7deg;
        margin-top: -20%;
        margin-right: -49%;
        vertical-align: middle;
    }
    .product5 .prodpic5{
        width: 100%;
        height: 100%;
        margin-left: 20vw;
    }
    .prodpic5 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .product6 .prodpic6{
        width: 100%;
        height: 100%;
        margin-left: -20vw;
    }
    .prodpic6 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .text-3{
        width: 90vw;
        height: 100vh;
        color: #fff;
        display: flex;
        margin-top: 16vw;
        padding-left: 10vw;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-3 h4{
        font-size: 4vw;
        text-transform: uppercase;
        font-family: gilroy;
        font-weight: 500;
        text-align: center;
        padding: 10vw;
    }
    .text-3 h1{
        font-size: 9vw;
        text-align: center;
        font-weight: 800;
        line-height: 14vw;
        overflow: hidden;
        text-transform: uppercase;
        font-family: zolina;
        padding: 15vw;
    
    }
    .text-3 .btn4{
        align-items: center;
        margin-top: 5vw;
        padding: 2.4vw 2.2vw;
        border: 2px solid #fff;
       background-color:transparent;
       color: #fff;
       font-size: 3.6vw;
       font-weight: 500;
       border-radius: 50px;
       text-transform: uppercase;
       position: relative;
       overflow: hidden;
       font-family: gilroy;
       transition: all ease-out 0.3s;
        cursor: pointer;
    }
    .btn4::before{
        content: "";
        height: 0%;
        width: 100%;
        background-color: #FFFFFF;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all ease-out 0.3s;
    }
    
    /*Section 6*/
    .section-6{
        width: 100vw;
        height: 100vh;
        background-color:#1A1A1A;
        position: sticky;
    }
    .products3{
        width: 100%;
        position: absolute;
        overflow: visible;
        top: 40%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }
    .products3 .product7{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: -6deg;
        margin-top: -20%;
        margin-left: -49%;
        vertical-align: middle;
    }
    .products3 .product8{
        width: 70vw;
        height: 120vw;
        background-color: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        rotate: 6deg;
        margin-top: -20%;
        margin-right: -50%;
        vertical-align: middle;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .product7 .prodpic7{
        width: 100%;
        height: 100%;
        margin-left: 10vw;
    
    }
    .prodpic7 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .product8 .prodpic8{
        width: 100%;
        height: 100%;
        margin-left: -10vw;
    
    }
    .prodpic8 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .text-4{
        width: 90vw;
        height: 100vh;
        color: #fff;
        display: flex;
        margin-top: 16vw;
        padding-left: 10vw;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-4 h4{
        font-size: 4vw;
        text-transform: uppercase;
        font-family: gilroy;
        font-weight: 500;
        text-align: center;
        padding: 10vw;
    }
    .text-4 h1{
        font-size: 9vw;
        text-align: center;
        font-weight: 800;
        line-height: 14vw;
        overflow: hidden;
        text-transform: uppercase;
        font-family: zolina;
        padding: 15vw;
    }
    .text-4 .btn5{
        align-items: center;
        margin-top: 5vw;
        padding: 2.4vw 2.2vw;
        border: 2px solid #fff;
       background-color:transparent;
       color: #fff;
       font-size: 3.6vw;
       font-weight: 500;
       border-radius: 50px;
       text-transform: uppercase;
       position: relative;
       overflow: hidden;
       font-family: gilroy;
       transition: all ease-out 0.3s;
        cursor: pointer;
    }
    .text-4 .btn5::before{
        content: "";
        height: 0%;
        width: 100%;
        background-color: #FFFFFF;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all ease-out 0.3s;
    }

    /*Footer*/
    footer{
    width: 100%;
    background-color: #1A1A1A;
    color: #fff;
    padding: 10vw 0 6vw;
    font-size: 3vw;
    line-height: 20px;
    font-family: gilroy;
}
footer .mobile{
    display: grid;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5vw;
}
footer #desktop{
    display: none;
}
.row{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5vw;
}
.col{
    flex-basis: 30%;
    padding: 0px;
    width: 5vw;
}

.row .col:nth-child(2){
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 2.4vw;
}
.row .col:nth-child(3){
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 6px;
    font-size: 2.4vw;
    padding-left: 10px;
}
.row .col:nth-child(4){
    align-content: flex-start;
    width: 6vw;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2.4vw;
    left: -20vw;
}
.footer_logo{
    width: 100px;
    position: relative;
    top: -23px;
    left: 0px;
}
.footer_about{
    position: relative;
    top: -23px;
}
.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    line-height: 6vw;
    font-size: 3vw;
    overflow: hidden;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
}
.col p{
    font-size: 2.5vw;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
    gap: 10px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffff;
    margin-bottom: 50px;
}
.col form .icon{
    font-size: 1.2vw;
    margin-right: 10px;
    color:#fff
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .icon_right{
    font-size: 2vw;
    color: #ccc;
}

.social_icons1{
    font-size: 20px;
    display: flex;
    gap: 10px;
    line-height: 25px;
}


hr{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
footer .made{
    text-align: center;
    vertical-align: middle;
    font-size: 3.6vw;
    padding-bottom: 2.4vw;
}
.bottom_line{
    width: auto;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: -2px;
    left: 0;
    overflow: hidden;
}
.bottom_line span{
    width: 8px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}

@keyframes moveline{
    0%{
        left:-10px;
    }
    100%{
        left:100%;
    }
}
}

